
    <!-- apps -->
    <div class="apps_w3w3pvt bg-light py-5" id="apps">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Download The <span>Application</span></h3>
            <p class="text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p>
            <ul class="list-unstyled apps-lists text-center pt-4">
                <li>
                    <a href="#"><span class="fa fa-apple mr-3"></span>App Store</a>
                </li>
                <li>
                    <a href="#" class="active"><span class="fa fa-windows mr-3"></span>Windows Store</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-android mr-3"></span>Android</a>
                </li>
            </ul>
        </div>
        <img src="/static/images/img2.png" alt="" class="img-fluid img-podi-w3ls">
    </div>
    <!-- //apps -->